# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*

# env (keep .env.local.example)
.env
.env.local
.env.*.local
!.env*.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
